*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #e5beed;
}
.card{
    display: grid;
    place-items: center;
}
.single{
    display: grid;
    width: 50rem;
    grid-template-columns: 1fr 2fr;
    padding: 1rem 5rem;
    justify-content: space-between;
    background-color: #fff;
}
li{
    list-style: none;
    font-size: 150%;
    color: black;
    background-color: #fff;
}
form>input{
    height: 3rem;
    width: 20rem;
    background-color: white;
    font-size: 150%;
    padding: 0 1rem;
}
form>button{
    width: 4rem;
    height: 3rem;
    font-size: 150%;
    background-color: white;
    cursor: pointer;
}
form{
    margin-top: 9rem;
    margin-bottom: 2rem;
}
.title{
    text-align: center;
    color: black;
    margin-top: 1rem;
    font-size: 400%;
}